@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }


* { margin :0;}
  
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: rgb(250, 144, 208) ;}

nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


    li :hover{
        z-index: 10;
        color:rgb(195, 55, 139)  ;
        border-radius:10px;
        }
      .child {
        display: none;
        box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
        z-index: 10;
        border-radius:10px;
      }
      
      nav ul li:hover .child {
        display: block;
      position:absolute




}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body { height: 100vh;
    width: 100; }
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}

