@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  * { margin :0;}
  
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: rgb(250, 144, 208) ;
}





footer {
 color:rgb(196, 35, 131);
 font-family: 'Kdam Thmor Pro',sans-serif;
 text-align: center;
 position: absolute; 
bottom: 0; 
}


span {margin-right: 50px;}

   /* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body { height: 100vh;
    width: 100; }
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}








/* start of  navigation menu */
  /*============================================*/



  ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius:10px;
  
  }
  
  li{
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 19px;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius:10px;
      
     
  }

  nav ul li a {
      text-decoration: none;
      color: white;
color:rgb(255, 255, 255)  ;  
      
  }


  nav ul li a:hover {
      text-decoration: none;
      
  }


   li :hover{
  z-index: 10;
  color:rgb(195, 55, 139)  ;
  border-radius:10px;
  }
.child {
  display: none;
  box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
  z-index: 10;
  border-radius:10px;
}

nav ul li:hover .child {
  display: block;
position:absolute





}

nav ul li:hover .child  ul{
  display: block;
  z-index: 10;
  background-color:rgb(250, 144, 208);
  color: rgb(95, 95, 95)  ;
  z-index:05;
  width: 150px;
  
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.3s;
z-index: 05;
background-color: rgb(250, 144, 208) ;
border-radius:10px;
  width: 150px;

  border-radius:10px;
}




.abtxt {
  color:#ffff;
  font-size:68px;
  font-family: Motion-Picture;
margin-left: 600px;
margin-top: 70px;

}

.desc{
  color:#ffff;
  font-size: 18px;
  font-family: 'Kdam Thmor Pro',sans-serif;
width:40%;
margin top: 80px;
float: right;
margin-right:390px;


}



footer {
  color:rgb(196, 35, 131);
  font-family: 'Kdam Thmor Pro',sans-serif;
  text-align: center;
  margin-top:20px;
  position: relative;
 }
 
 
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  * { margin :0;}
  
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: rgb(250, 144, 208) ;
}





footer {
 color:rgb(196, 35, 131);
 font-family: 'Kdam Thmor Pro',sans-serif;
 text-align: center;
 position: absolute; 
bottom: 0; 
}


span {margin-right: 50px;}

   /* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body { height: 100vh;
    width: 100; }
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}








/* start of  navigation menu */
  /*============================================*/



  ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius:10px;
  
  }
  
  li{
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 19px;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius:10px;
      
     
  }

  nav ul li a {
      text-decoration: none;
      color: white;
color:rgb(255, 255, 255)  ;  
      
  }


  nav ul li a:hover {
      text-decoration: none;
      
  }


   li :hover{
  z-index: 10;
  color:rgb(195, 55, 139)  ;
  border-radius:10px;
  }
.child {
  display: none;
  box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
  z-index: 10;
  border-radius:10px;
}

nav ul li:hover .child {
  display: block;
position:absolute





}

nav ul li:hover .child  ul{
  display: block;
  z-index: 10;
  background-color:rgb(250, 144, 208);
  color: rgb(95, 95, 95)  ;
  z-index:05;
  width: 150px;
  
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.3s;
z-index: 05;
background-color: rgb(250, 144, 208) ;
border-radius:10px;
  width: 150px;

  border-radius:10px;
}



.aa {
  height:500px;
  width: auto;
  border-radius: 0%;
  margin-left: 500px;


}
.container {
  display: flex;
  justify-content: center;
display: grid;  
grid-template-columns: repeat(2, 1fr);
row-gap: 10px;
column-gap: 10px;




}

p{
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
display: flex;
justify-content: center;
margin-right: 50px;
  
 
}


.divi{
  list-style: none;
  color: rgb(255, 255, 255);
 
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
display: flex;
justify-content: center;
margin-right: 50px;
  
 
}

footer {
  color:rgb(196, 35, 131);
  font-family: 'Kdam Thmor Pro',sans-serif;
  text-align: center;
  margin-top:20px;
  position: relative;
 }
 
 
 .topnav{ display: none;}

 

 @media (max-width: 600px){ 


.content { background-position: 30%;
  background-size: 30%;
  height: 220px;
  width: 325px;
  display:flex
  flex-direction: column;
align-items: center;
right: 90px
z-index: 1;
}
.navigation  {
 
  bottom: 200px;
  left: 90px;
  display:flex
  flex-direction: column;
align-items: center;}

body {width:400px}
#logo {
  width: 80px;
  height: 80px;
  align-items: center;
top: 20px




}
nav {display:none }


/* MOBILE STUFF*/

    
    
 /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display:block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Kdam Thmor Pro',sans-serif;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(195, 55, 139);
  color: white;
  width:130px;
  height:auto;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(195, 55, 139);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Kdam Thmor Pro',sans-serif;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(195, 55, 139);
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(195, 55, 139);
  color: rgb(255, 255, 255);
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
}
          /*mobile stuff*/
    
        

p {
  text-align: ;
}
