@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


  * { margin :0;
  }
  body { height: 100vh;
      width: 300; }
  *{
    margin:0;
    padding:0;
 background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
    height: 90px;
    display:flex;
    justify-content : space-around;
    align-items: center; 
}


nav {
    width: 60%;
    
    

}






#logo {
    width: 100px;
    height:auto;
}



 /* start of  navigation menu */
    /*============================================*/
  


    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(205, 67, 150)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(205, 67, 150)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 4px 2px 1px 0px  rgb(24, 19, 22);
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(205, 67, 150)  ;
    z-index:05;
    width: 50px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 50px;

    border-radius:10px;
}




 /*end of navigation menu */
    
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    z-index: index 0;
  
}

.content {
    height: 520px;
    width: 1500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px  rgb(205, 67, 150);
    z-index: index -1;
    }
.content .slide img {
    height: 100%;
    width: 100%;
    z-index: index 0;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 650px;
    display: flex;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 






