@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  

  
body{
    margin:0;
    padding:0;
  list-style: none;
  text-decoration: none;

    background-color:rgb(250, 144, 208) ;
}



  
  
  
/* navigation bar desktop */

header {
    height: 90px;
    display:flex;
    justify-content : space-around;
    align-items: center; 
    }
    


    span {margin-right: 50px;}

    /* start of  navigation menu */
       /*============================================*/
     
       nav {
         margin-right: 250px;
         margin-bottom: 20px
         padding:5rem
       }
   
   
       ul{
         display: flex;
         width: 50%;
         justify-content: space-between;
         border-radius:10px;
     
     }
     
     li{
         list-style: none;
         color: var(--Shadow);
         cursor: pointer;
         font-size: 19px;
         font-family: 'Kdam Thmor Pro',sans-serif;
         border-radius:10px;
         
        
     }
 
     nav ul li a {
         text-decoration: none;
         color: white;
 color:rgb(255, 255, 255)  ;  
         
     }
 
 
     nav ul li a:hover {
         text-decoration: none;
         color:rgb(164, 32, 140) 2px  2px;
         transition: 0.7s;
     }
 
 
      li :hover{
     z-index: 10;
     color:rgb(164, 32, 140) ;
     border-radius:10px;
     }
 .child {
     display: none;
     box-shadow: 1px 1px 0px 0px  rgb(164, 32, 140);
     z-index: 10;
     border-radius:10px;
 }
 
 nav ul li:hover .child {
     display: block;
 position:absolute
 
 
 
 
 
 }
 
 nav ul li:hover .child  ul{
     display: block;
     z-index: 10;
     background-color:rgb(250, 144, 208) ;
     color: var  ;
     z-index:05;
     width: 150px;
     
 }
 nav ul li:hover .child  ul li{
 width: 150px;
 text-align: center;
 transition: 0.7s;
 z-index: 05;
 background-color:rgb(250, 144, 208) ;
 border-radius:10px;
     width: 150px;
 
     border-radius:10px;
 }
 
 
 
 
  /*end of navigation menu */

 
 header {
    height: 90px;
    display:flex;
    justify-content : space-around;
    align-items: center; 
  
  
  
 }
 
 
 nav {
   width: 60%;
   height: 90px;
   display:flex;
   justify-content : space-around;
   align-items: center; 
   
 
 }
 
 
 
 
 
 
 
 
 #logo {
     width: 95px;
     height:auto;
 }

 #mobile{
    display: none;

 }

 footer {
    color:rgb(196, 35, 131);
    font-family: 'Kdam Thmor Pro',sans-serif;
    text-align: center;
    margin-top:20px;
    position: relative;
 }

 @media (600px){

    nav{ display:none;}
 }