@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  * { margin :0;}
  
  

:root {
  --Background rgb(205, 67, 150)0;
  --Shadow rgb(137, 29, 94) ;
  --Font
}

  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 144, 208) ;
    font-size: 16px;
}


.banner{
  margin: auto;
  max-width: 50%;
 
  padding: 10px;
}

.banner1{
  border-radius:10%;
  transition: .5s;

}

.banner1:hover{
  transform: scale(1.1);
}


.hi {
    color:rgb(234, 93, 177);
    font-size:98px;
    font-family: Motion-Picture;
    background-color:#ffffff ;
    border-radius: 20px;
    width:230px;
    padding: 14px 10px;

    position:relative

}




.desc {
  color:rgb(234, 93, 177);
  background-color: rgb(255, 255, 255);
  font-size:20px;
  width:40%;
position:absolute
  background-color:#ffffff ;
  font-family: 'Kdam Thmor Pro',sans-serif;
  border-radius: 20px;
  width:230px;
  padding: 14px 10px;
  margin-top:-670px;
  margin-left: 900px;
  display:none;
}


.button {
  width: 200px;
  height: 60px;
  background-color:rgb(240, 110, 188) ;
  color: rgb(255, 255, 255);
 padding: 0.20em;
  font-family: Motion-Picture;

border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 2.5em;
display: flex;
justify-content: center;
border: none;
outline: none;
margin-left: 920px;


}

.button:hover {
  background-color: rgb(137, 29, 94) ;
  color: rgb(255, 255, 255);
}


.ytp{
  border-radius: 10px;
  border-color: #ffff;
  margin-left: 99px;
  margin-top: 50px;

}

.yout2{
display: none;

}

.yout3{
  display: none;
  
  }


span {margin-right: 50px;}

   /* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
        margin-bottom: 20px
        padding:1rem
      }
  
  
      ul{
        display: flex;
        width: 50%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body 
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}


.hi {
    color::rgb(240, 110, 188);
    font-size:48px;
    font-family: Motion-Picture;

 
    position: relative;
    bottom: -90px;
    margin-left:42%;
    z-index: 1;

}

.whiteblock {

  
    font-family: Motion-Picture;
    background-color:rgb(255, 255, 255) ;
    padding: 0px 0.625em 3.25em  ;
    position: relative;
    max-width:clamp(20%, 100%, 100%);
  ;max-height: 50em;
    /* margin-top: 37.5em; */
    place-items center;
    z-index: -1;
    
}

.profile1{
  margin: auto;
  max-width: 25%;
min-height: 10em;
  position: relative;
  margin-top: 7.50em;
  margin-left:37%;
  border-radius: 50%;
  z-index: 1;
}




.insert{  list-style: none;
  color: rgb(255, 255, 255);
position:relative;
float: right;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:40%;
margin-top: 50px;
margin-right: 450px;
display: flex;
text-align: center;
margin-left:50 px;}



.con {
  width: 400px;
  height:auto
  border-radius: 20px;
  margin-left: 830px;
  transition: 1s;
  
 
}

.con:hover {
  transform: scale(1.02);}

  .nextc {
    width: 200px;
    height: 30px;
    background-color:rgb(240, 110, 188) ;
    color: rgb(255, 255, 255);
    padding: 14px 10px;
border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 20px;
display: flex;
justify-content: center;
font-weight: bold;
border: none;
outline: none;
margin-left: 920px;}

.aa{  list-style: none;
  color: rgb(255, 255, 255);
float: left;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:10%
margin-top: 50px;
margin-left: 250px;
display: flex;
margin-top:-250px;
text-position:column;
}





/* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */





#logo {
    width: 95px;
    height:auto;
}








start of  navigation menu
  /*============================================*/



  ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius:10px;
  
  }
  
  li{
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 19px;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius:10px;
      
     
  }

  nav ul li a {
      text-decoration: none;
      color: white;
color:rgb(255, 255, 255)  ;  
      
  }


  nav ul li a:hover {
      text-decoration: none;
      
  }


   li :hover{
  z-index: 10;
  color:rgb(195, 55, 139)  ;
  border-radius:10px;
  }
.child {
  display: none;
  box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
  z-index: 10;
  border-radius:10px;
}

nav ul li:hover .child {
  display: block;
position:absolute





}

nav ul li:hover .child  ul{
  display: block;
  z-index: 10;
  background-color:rgb(250, 144, 208);
  color: rgb(95, 95, 95)  ;
  z-index:05;
  width: 150px;
  
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.3s;
z-index: 05;
background-color: rgb(250, 144, 208) ;
border-radius:10px;
  width: 150px;

  border-radius:10px;
}


footer {
  color:rgb(196, 35, 131);
  font-family: 'Kdam Thmor Pro',sans-serif;
  text-align: center;
  margin-top:20px;
  position: relative;
 }

    .nav-mobile{
      display: none;
    }

#mobile{
  display: none;
}


.desc{
  display: ;
}

.button{display: none;}

@media(max-width:768px) {




   


  nav{

    display: none;

  }



  
  

  


 
 

/* NAV MOBILE */

#logo {
 padding:0rem,  0rem,  0rem,  2rem;
}

#mobile{
  display: block;
  background-color:rgb(208, 62, 149);
  color: #ffffff;
  z-index: 15;
  max-width: 100%;
  z-index: inherit;
 
}




a {    color: #ffff;}
  .menu {
  display: block;
  text-align: center;
    z-index: 15;
    transition: 0.5s;

    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 15;
 
  }
  .menu li {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgb(154, 21, 140);
  padding: 1rem;
  border-radius: 0.5rem;
display: block;
padding: 1rem;
border-radius: 0.5rem;
z-index: 15;
  }


  .btn-menu {
    background: none;
    border: none;
    font-size: 2em;
    font-family: 'Kdam Thmor Pro',sans-serif;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 1rem;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  #mobile:focus-within .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  #mobile:focus-within .hamburger {
    border-top-color: transparent;
  }
  #mobile:focus-within .hamburger::before {
    transform: rotate(135deg);
  }
  #mobile:focus-within .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }

/* NAV MOBILE */

/* REST */

.banner1{
  position: relative;
  max-width: 150%;
  right:3.5em;
}

.banner{

}






.whiteblock{
  font-family: Motion-Picture;
  background-color:rgb(255, 255, 255) ;
  padding: 0px 0.625em 3.25em  ;
  position: relative;
  max-width:clamp(20%, 100%, 100%);
  bottom: 0em;
  place-items:center;
  
}
/* 31.25 min 500 =
56.25 max 900*/





.profile1{
   max-width:10rem;
 min-height: 10em; 
  position: relative;
  margin-left:clamp(50%, 20%, 50%) ;






}


.hi {
  
  border-radius: 20px;
  width:50%;
  padding: 14px 10px;
  bottom: 870px;
  left: -70px;
  position:absolute;
  justify-content:center ;
display: block;
}




 

  .desc{
    display: none;

  }
  .button{display: none;}
    
 

 


.con{
  display: none;
}
.aa{
  display: none;
}
.textaa{
  display: none;



}
.nextc{
  display: none;
}

footer{
  display: none;
} 

}


