@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  * { margin :0;}
  
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: rgb(250, 144, 208) ;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgb(205, 67, 150) (6, 27, 5, 0.75);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: 50px;
    left: 650px;
    display: flex;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 



.hi {
    color:rgb(234, 93, 177);
    font-size:98px;
    font-family: Motion-Picture;
    background-color:#ffffff ;
    border-radius: 20px;
    width:230px;
    padding: 14px 10px;
    bottom: 650px;
    left: 600px;
    position:relative

}




.desc {
  color:rgb(234, 93, 177);
  background-color: rgb(255, 255, 255);
  font-size:20px;
  width:40%;
position:absolute
  background-color:#ffffff ;
  font-family: 'Kdam Thmor Pro',sans-serif;
  border-radius: 20px;
  width:230px;
  padding: 14px 10px;
  margin-top:-670px;
  margin-left: 900px;
}


.button {
  width: 200px;
  height: 60px;
  background-color:rgb(240, 110, 188) ;
  color: rgb(255, 255, 255);
  padding: 14px 10px;
border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 20px;
display: flex;
justify-content: center;
font-weight: bold;
border: none;
outline: none;
margin-left: 920px;


}

.button:hover {
  background-color: rgb(137, 29, 94) ;
  color: rgb(255, 255, 255);
}


.ytp{
  border-radius: 10px;
  border-color: #ffff;
  margin-left: 99px;
  margin-top: 50px;

}

footer {
 color:rgb(196, 35, 131);
 font-family: 'Kdam Thmor Pro',sans-serif;
 text-align: center;
}


span {margin-right: 50px;}

   /* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body { height: 100vh;
    width: 100; }
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}


.hi {
    color::rgb(240, 110, 188);
    font-size:48px;
    font-family: Motion-Picture;

 
    position: relative;
    margin-top: 200px;
    margin-left:300px;
    z-index: 1;

}

.whiteblock {

  
    font-family: Motion-Picture;
    background-color:rgb(255, 255, 255) ;
       width:1520px;
       margin-left: 60px
    height:20px;
    padding: 14px 10px;
    position: relative;
    margin-top: 600px;
    margin-left:0;
    z-index: 0;
}

.profile1{
width:500px;
height:auto;
  position: relative;
  margin-top: 150px;
  margin-left:300px;
  z-index: 1;
}
.yt {
  color:#ffff;
  font-size:68px;
  font-family: Motion-Picture;


  position: relative;
  margin-top: 0px;
  margin-left:630px;
  z-index: 1;

}

.heart1{
  color:#ffff;
  font-size:50px;
  font-family: Motion-Picture;
  position: relative;
  margin-top: 0px;
  margin-left:770px;
  z-index: 1;

}
.youtube-desc{
  list-style: none;
  color: rgb(255, 255, 255);
position:relative;
float: right;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:40%;
margin-top: 50px;
margin-right: 450px;
display: flex;
text-align: center;

}

.insta{ 
   color:#ffff;
  font-size:68px;
  font-family: Motion-Picture;
margin-left: 600px;}

.insert{  list-style: none;
  color: rgb(255, 255, 255);
position:relative;
float: right;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:40%;
margin-top: 50px;
margin-right: 450px;
display: flex;
text-align: center;
margin-left:50 px;}



.con {
  width: 400px;
  height:auto
  border-radius: 20px;
  margin-left: 830px;
  transition: 1s;
  
 
}

.con:hover {
  transform: scale(1.02);}

  .nextc {
    width: 200px;
    height: 60px;
    background-color:rgb(240, 110, 188) ;
    color: rgb(255, 255, 255);
    padding: 14px 10px;
border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 20px;
display: flex;
justify-content: center;
font-weight: bold;
border: none;
outline: none;
margin-left: 620px;}

.aa{  list-style: none;
  color: rgb(255, 255, 255);
float: left;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:2%;
margin-top: 50px;
margin-left: 650px;
display: flex;
margin-top:-350px;
}


/* Youtube*/


/*YOUTUBE*/


/* start of  navigation menu */
  /*============================================*/



  ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius:10px;
  
  }
  
  li{
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 19px;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius:10px;
      
     
  }

  nav ul li a {
      text-decoration: none;
      color: white;
color:rgb(255, 255, 255)  ;  
      
  }


  nav ul li a:hover {
      text-decoration: none;
      
  }


   li :hover{
  z-index: 10;
  color:rgb(195, 55, 139)  ;
  border-radius:10px;
  }
.child {
  display: none;
  box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
  z-index: 10;
  border-radius:10px;
}

nav ul li:hover .child {
  display: block;
position:absolute





}

nav ul li:hover .child  ul{
  display: block;
  z-index: 10;
  background-color:rgb(250, 144, 208);
  color: rgb(95, 95, 95)  ;
  z-index:05;
  width: 150px;
  
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.3s;
z-index: 05;
background-color: rgb(250, 144, 208) ;
border-radius:10px;
  width: 150px;

  border-radius:10px;
}


