@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


  * { margin :0;
  }
  body { height: 100vh;
      width: 300; }
  *{
    margin:0;
    padding:0;
 background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
    height: 90px;
    display:flex;
    justify-content : space-around;
    align-items: center; 
}


nav {
    width: 60%;

}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

li{
    list-style: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    border-color: rgb(213, 91, 174);
    font-family: 'Kdam Thmor Pro',sans-serif;
   border: rgb(205, 67, 150)  2px;

}

li:hover {
    color:rgb(177, 60, 166)
}

#logo {
    width: 100px;
    height:auto;
}



 /*rules for navigation menu */
    /*============================================*/
    ul#navmenu, ul.sub1 
    {
        list-style-type: none; /*<!-- sets bullets to none -->*/

    }

    ul#navmenu li
    {

        width: 125px;
        text-align: center;
        display: flex;
        justify-content: ;
        float: left;
        margin-right: 4px;
        color: rgb(255, 255, 255);
        border-color: rgb(205, 67, 150);
    }

    ul#navmenu li
    {

        width: 125px;
        text-align: center;
        position: relative;
        float: left;
        margin-right: 4px;
        color: rgb(255, 255, 255);
        border-color: rgb(205, 67, 150);
    }

    ul#navmenu a
    {
        text-decoration: none;
        display: block; /*<!-- this code makes the link a button instead  pointing specifically on the link -->*/
        width: 125px;
        height: 25px;
        line-height: 25px;
        background-color:rgb(250, 144, 208) ;
        color: rgb(255, 255, 255);
    }

    ul#navmenu .sub1 li
    {

    }

    ul#navmenu .sub1 a 
    {
        margin-top: 0px;
    }

    ul#navmenu li:hover > a
    {
     color: rgb(205, 67, 150);
    }

    ul#navmenu li:hover a: hover
    {
        background-color: #Ffff;  /*<!-- sets all link color when hovering to yellow  -->*/
    }

    ul#navmenu ul.sub1{
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
    }


ul#navmenu li:hover .sub1
{
    display: block;
}
li ul{
display:none;
}

li:hover ul{
display:block;
}


 /*end of navigation menu */
    
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
  
}

.content {
    height: 520px;
    width: 1500px;
    border-radius: 0px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px  rgb(205, 67, 150);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 650px;
    display: flex;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 






