@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@font-face {
    font-family: Motion-Picture;
    src: url(MotionPicture_PersonalUseOnly.ttf);
  }

  * { margin :0;}
  
  

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vh;
    width: 100vw;
    background-color: rgb(250, 144, 208) ;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px 0px rgb(205, 67, 150) (6, 27, 5, 0.75);
}

.content .slide img {
    height: 100%;
    width: 100%;
}

.navigation {
    position: absolute;
    bottom: -20px;
    left: 650px;
    display: flex;
}

.bar {

    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transform: .5s ease;

}

.bar:hover {
    background-color: white;
}

input {
  display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
} 

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
} 

#slide4:checked ~ .s1 {
    margin-left: -60%;
} 

#slide5:checked ~ .s1 {
    margin-left: -80%;
} 



.hi {
    color:rgb(234, 93, 177);
    font-size:98px;
    font-family: Motion-Picture;
    background-color:#ffffff ;
    border-radius: 20px;
    width:230px;
    padding: 14px 10px;
    bottom: 650px;
    left: 600px;
    position:relative

}




.desc {
  color:rgb(234, 93, 177);
  background-color: rgb(255, 255, 255);
  font-size:20px;
  width:40%;
position:absolute
  background-color:#ffffff ;
  font-family: 'Kdam Thmor Pro',sans-serif;
  border-radius: 20px;
  width:230px;
  padding: 14px 10px;
  margin-top:-670px;
  margin-left: 900px;
}


.button {
  width: 200px;
  height: 60px;
  background-color:rgb(240, 110, 188) ;
  color: rgb(255, 255, 255);
  padding: 14px 10px;
border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 40px;
display: flex;
justify-content: center;
font-weight: bold;
border: none;
outline: none;
margin-left: 920px;


}

.button:hover {
  background-color: rgb(137, 29, 94) ;
  color: rgb(255, 255, 255);
}


.ytp{
  border-radius: 10px;
  border-color: #ffff;
  margin-left: 99px;
  margin-top: 50px;

}




span {margin-right: 50px;}

   /* start of  navigation menu */
      /*============================================*/
    
      nav {
        margin-right: 250px;
      }
  
  
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-radius:10px;
    
    }
    
    li{
        list-style: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-size: 19px;
        font-family: 'Kdam Thmor Pro',sans-serif;
        border-radius:10px;
        
       
    }

    nav ul li a {
        text-decoration: none;
        color: white;
color:rgb(255, 255, 255)  ;  
        
    }


    nav ul li a:hover {
        text-decoration: none;
        color:rgb(255, 255, 255)  2px;
    }


     li :hover{
    z-index: 10;
    color: rgb(255, 255, 255)  ;
    border-radius:10px;
    }
.child {
    display: none;
    box-shadow: 1px 1px 0px 0px  rgb(24, 19, 22);
    z-index: 10;
    border-radius:10px;
}

nav ul li:hover .child {
    display: block;
position:absolute





}

nav ul li:hover .child  ul{
    display: block;
    z-index: 10;
    background-color:rgb(250, 144, 208) ;
    color: rgb(100, 100, 100)  ;
    z-index:05;
    width: 150px;
    
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.7s;
z-index: 05;
background-color:rgb(250, 144, 208) ;
border-radius:10px;
    width: 150px;

    border-radius:10px;
}




 /*end of navigation menu */
body { height: 100vh;
    width: 100; }
*{
  margin:0;
  padding:0;
background-color:rgb(250, 144, 208) ;
list-style: none;
text-decoration: none;}

header {
  height: 90px;
  display:flex;
  justify-content : space-around;
  align-items: center; 
}


nav {
  width: 60%;
  
  

}








#logo {
    width: 95px;
    height:auto;
}


.hi {
    color::rgb(240, 110, 188);
    font-size:48px;
    font-family: Motion-Picture;

 
    position: relative;
    margin-top: 200px;
    margin-left:300px;
    z-index: 1;

}

.whiteblock {

  
    font-family: Motion-Picture;
    background-color:rgb(255, 255, 255) ;
       width:1520px;
       margin-left: 60px
    height:20px;
    padding: 14px 10px;
    position: relative;
    margin-top: 600px;
    margin-left:0;
    z-index: 0;
}

.profile1{
width:500px;
height:auto;
  position: relative;
  margin-top: 150px;
  margin-left:300px;
  z-index: 1;
}
.yt {
  color:#ffff;
  font-size:68px;
  font-family: Motion-Picture;


  position: relative;
  margin-top: 0px;
  margin-left:630px;
  z-index: 1;

}

.heart1{
  color:#ffff;
  font-size:50px;
  font-family: Motion-Picture;
  position: relative;
  margin-top: 0px;
  margin-left:770px;
  z-index: 1;

}
.youtube-desc{
  list-style: none;
  color: rgb(255, 255, 255);
position:relative;
float: right;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:40%;
margin-top: 50px;
margin-right: 450px;
display: flex;
text-align: center;

}

.insta{ 
   color:#ffff;
  font-size:68px;
  font-family: Motion-Picture;
margin-left: 600px;}

.insert{  list-style: none;
  color: rgb(255, 255, 255);
position:relative;
float: right;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:40%;
margin-top: 50px;
margin-right: 450px;
display: flex;
text-align: center;
margin-left:50 px;}



.con {
  width: 400px;
  height:auto
  border-radius: 20px;
  margin-left: 830px;
  transition: 1s;
  
 
}

.con:hover {
  transform: scale(1.02);}

  .nextc {
    width: 200px;
    height: 30px;
    background-color:rgb(240, 110, 188) ;
    color: rgb(255, 255, 255);
    padding: 14px 10px;
border-radius: 5px;
cursor: pointer;
transition: .8s;
font-size: 20px;
display: flex;
justify-content: center;
font-weight: bold;
border: none;
outline: none;
margin-left: 920px;}

.aa{  list-style: none;
  color: rgb(255, 255, 255);
float: left;
  font-size: 19px;
  font-family: 'Kdam Thmor Pro',sans-serif;
  width:10%
margin-top: 50px;
margin-left: 250px;
display: flex;
margin-top:-250px;
text-position:column;
}


/* Youtube*/


/*YOUTUBE*/


/* start of  navigation menu */
  /*============================================*/



  ul{
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius:10px;
  
  }
  
  li{
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 19px;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius:10px;
      
     
  }

  nav ul li a {
      text-decoration: none;
      color: white;
color:rgb(255, 255, 255)  ;  
      
  }


  nav ul li a:hover {
      text-decoration: none;
      
  }


   li :hover{
  z-index: 10;
  color:rgb(195, 55, 139)  ;
  border-radius:10px;
  }
.child {
  display: none;
  box-shadow: 1px 1px 0px 0px rgb(195, 55, 139);
  z-index: 10;
  border-radius:10px;
}

nav ul li:hover .child {
  display: block;
position:absolute





}

nav ul li:hover .child  ul{
  display: block;
  z-index: 10;
  background-color:rgb(250, 144, 208);
  color: rgb(95, 95, 95)  ;
  z-index:05;
  width: 150px;
  
}
nav ul li:hover .child  ul li{
width: 150px;
text-align: center;
transition: 0.3s;
z-index: 05;
background-color: rgb(250, 144, 208) ;
border-radius:10px;
  width: 150px;

  border-radius:10px;
}


footer {
  color:rgb(196, 35, 131);
  font-family: 'Kdam Thmor Pro',sans-serif;
  text-align: center;
  margin-top:20px;
  position: relative;
 }

 .topnav{ display: none;}

 .profile2{
  display:none; 

 }
 @media (max-width: 600px){ 

nav {display: none; }
.content { background-position: 30%;
  background-size: 30%;
  height: 220px;
  width: 325px;
  display:flex
  flex-direction: column;
align-items: center;
right: 90px
z-index: 1;
}
.navigation  {
 
  bottom: 200px;
  left: 90px;
  display:flex
  flex-direction: column;
align-items: center;}

body {width:400px}
#logo {
  width: 80px;
  height: 80px;
  align-items: center;
top: 20px


}
  nav {display:none }
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: block;
  font-family: 'Kdam Thmor Pro',sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: rgb(195, 55, 139);
  color: white;
  width: 130px;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px#fff;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:rgb(195, 55, 139);
  color: rgb(195, 55, 139);
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(195, 55, 139);
  color: rgb(195, 55, 139);
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
    .profile2{ display: block;
    margin-left:-100px;
    }

    .profile1 {display:none;}
  
    .whiteblock{
display:flex
flex-direction: column;
align-items: center;
height:950px;
width:1520px;
padding: 14px 10px;
position: relative;
margin-top: 600px;
margin-left:0;
z-index: 0;

    }

    .hi{ display:none;}
    .desc{display:none;}
    .button {display:none;}

    .hi2{
      margin-top: 10px;
      margin-left: 200px;
      color:rgb(234, 93, 177);
      font-size:58px;
      font-family: Motion-Picture;
      background-color:#ffffff ;
      border-radius: 20px;
      width:210px;
      height: auto;
padding: 10px 10px;
margin-left: 50px;
      position:relative

    }
    .descmob{
      color:rgb(234, 93, 177);
      background-color: rgb(255, 255, 255);
      font-size:20px;
      width:40%;
    position:absolute
      background-color:#ffffff ;
      font-family: 'Kdam Thmor Pro',sans-serif;
      border-radius: 20px;
      width:230px;
      padding: 14px 10px;
      margin-top:px;
      margin-right: 900px;}

    .buttonmob 
    { width: 200px;
      height: 60px;
      background-color:rgb(240, 110, 188) ;
      color: rgb(255, 255, 255);
      padding: 14px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-right: 900px;}

    .whiteblock{
      background-position: 80%
      height:1900px;
    }
    }
  

 /*mobile navi*/